*, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --alert: #8A3333;
  --secondary: #78364F;
  --side-menu: #2D2E2A;
  --background: #161513;
  --white-rgb: 245, 248, 242;
  --primary-rgb: 237, 233, 191;
}

::selection {
  background: var(--secondary);
  color: rgb(var(--white-rgb));
}

html {font-size: min(20px, 2.45vw);}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  color: rgb(var(--white-rgb));
}

button {cursor: pointer; border-radius: 0.25rem;}
:is(button, input):focus-visible {outline: 0.125rem solid rgba(var(--white-rgb), 0.9);}

ul, li {list-style: none;}

img {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}
