.app-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.25rem;
}

.app-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3rem;
  background: rgba(var(--white-rgb), 0.08);
  border-radius: 0.5rem;
  transition: background 0.1s;
}
.app-header button:hover {
  background: rgba(var(--white-rgb), 0.12);
}

.app-header button img {width: 1.5rem;}

.app-header h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.app-header span {
  color: rgb(var(--primary-rgb));
}
