.slider > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.slider > header button {
  height: 1.5rem;
  font-size: 0.7rem;
  line-height: 0;
}

.forecast-switch {display: flex;}
.forecast-switch button {
  width: 9rem;
  background: var(--secondary);
  font-weight: 500;
  border-radius: 0.75rem 0 0 0.75rem;
  transition: background 0.2s, opacity 0.2s;
}

.forecast-switch button + button {border-radius: 0 0.75rem 0.75rem 0;}
.forecast-switch button:not(.on) {opacity: 0.4;}
.forecast-switch button:hover {background: #843b57;}
.forecast-switch button:focus {z-index: 1;}

.show-details {
  width: 5rem;
  background: rgb(var(--primary-rgb));
  font-weight: 600;
  color: var(--background);
  border-radius: 0.75rem;
  transition: filter 0.2s;
}
.show-details:hover {filter: brightness(0.9);}
