.city-list {width: 100%; overflow-y: overlay;}

.city-list::-webkit-scrollbar {width: 0.75rem;}
.city-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-right: 0.125rem solid;
}
.city-list::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
