.city-input-container + .modal {position: relative;}

.city-input-container + .modal .city-suggestions {
  position: absolute;
  left: 0; top: calc(100% + 0.375rem);
  padding-bottom: 0.3rem;
  border-radius: 0.125rem;
}

.city-input-container + .modal .no-suggestions {
  position: absolute;
  top: 100%; left: 50%;
  transform: translate(-50%, 0.3rem);
  padding: 0 0.4rem 0.1rem;
  border-radius: 0.4rem;
}
