.side-menu-content > header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.side-menu-content > header h1 {
  font-size: 0.875rem;
  font-weight: 500;
}

.side-menu-content > header button {transition: filter 0.2s;}
.side-menu-content > header button:hover {filter: brightness(0.9);}

.side-menu-content > header button img {width: 1.5rem; height: 1.5rem;}
