.side-menu .content ul .city-card {
  position: relative;
  margin-top: 1.25rem;
  padding: 0.75rem 0.75rem 0.5rem 1rem;
  box-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  cursor: pointer;
}

.city-card .drag-card {
  position: absolute;
  top: 50%; left: 0;
  transform: translate(-100%, -50%);
  cursor: grab;
}
.city-card .drag-card img {width: 1rem;}

.city-card .delete-card {
  position: absolute;
  top: 0; right: 0;
}
.city-card .delete-card img {width: 1.4rem;}

.city-card :is(.drag-card, .delete-card) {
  opacity: 0; z-index: -1;
  transition: filter 0.2s;
}
.city-card:hover :is(.drag-card, .delete-card) {opacity: 1; z-index: 3;}
.city-card :is(.drag-card:hover, .delete-card:hover) {filter: brightness(0.9);}

.city-card .temperature {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.city-card .temperature strong {font-size: 2.5rem; font-weight: 400;}

.city-card .temperature .min-max {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: rgb(var(--primary-rgb));
  transform: translateY(0.125rem);
}
.city-card .temperature .min-max span {position: relative;}
.city-card .temperature .min-max span + span {opacity: 0.3;}

.city-card .temperature .negative::before {content: '-';}
.city-card .temperature strong.negative::before {font-family: 'Inter', sans-serif;}
.city-card .temperature span.negative::before {
  position: absolute; top: 50%;
  transform: translate(-100%, -50%);
}

.city-card .weather-preview {
  position: absolute;
  top: 0; right: 0;
  transform: translateY(-1.25rem);
  width: 5.5rem;
}

.city-card footer {position: relative;}

.city-card footer h1 {
  width: 7.5rem;
  font-size: 0.625rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.city-card footer span {
  position: absolute;
  bottom: 0.125rem; right: 0;
  width: 4.5rem;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 115%;
  text-align: right;
}

.city-card .background {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
  transition: opacity 0.2s;
}
.city-card:hover .background {opacity: 1;}
