.weather-app:has(.weather-card) {
  margin: max(calc((100vh - 30rem) / 2), 1rem) 0;
  width: min(50.5rem, 85vw);
}

.weather-app:has(.error-card) {margin: max(30vh, 1rem) 0 2rem}

.weather-card, .error-card {
  background: rgba(var(--white-rgb), 0.06);
  border-radius: 0.75rem;
}

.loading {position: relative;}

.loading::before {
  --black: rgba(0, 0, 0, 0.1);
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, var(--black), transparent, var(--black));
  background-size: 200%;
  border-radius: inherit;
  animation: loading 1s ease-in-out infinite reverse;
}

@keyframes loading {
  from {background-position: -100% 0;}
  to {background-position: 100% 0;}
}
