.weather-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(4.5rem, 7.5vw) min(6.375rem, 10.5vw) 2.25rem;
}

/*   SideMenu   */

.weather-card .side-menu-container {
  position: absolute;
  top: 0; left: 0;
  overflow-x: hidden;
}

.weather-card .side-menu-content {
  transform: translateX(calc(-100% - 1rem));
  transition: transform 0.5s ease;
  box-shadow: 0.375rem 0 0.375rem rgba(0, 0, 0, 0.3);
}
.weather-card .modal.show > .side-menu-content {transform: translateX(0);}

/*   CitiesPagination   */

.weather-card .choose-adjacent-city {position: absolute; top: 50%;}
.weather-card .choose-adjacent-city.previous {left: 0; transform: translate(-100%, -50%);}
.weather-card .choose-adjacent-city.next {left: 100%; transform: translate(0, -50%);}

.weather-card .city-list-order {
  position: absolute;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  border-radius: 0.75rem 0.75rem 0 0;
}

/*   CurrentCityInfo   */

.weather-card .current-city-info {margin-bottom: min(4.5rem, 7.5vw);}
