.weather-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(4.5rem, 7.5vw) min(6.375rem, 10.5vw) 2.25rem;
  background: rgba(var(--white-rgb), 0.06);
  border-radius: 0.75rem;
}

/*   CitiesPagination   */

.weather-card .choose-adjacent-city {position: absolute; top: 50%;}
.weather-card .choose-adjacent-city.previous {left: 0; transform: translate(-100%, -50%);}
.weather-card .choose-adjacent-city.next {left: 100%; transform: translate(0, -50%);}

.weather-card .city-list-order {
  position: absolute;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  border-radius: 0.75rem 0.75rem 0 0;
}
