.slider > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.slider > header button {
  height: 1.5rem;
  font-size: 0.6875rem;
  transition: all 0.2s;
}

.forecast-switch {display: flex;}
.forecast-switch button {
  width: 9rem;
  background: var(--secondary);
  font-weight: 500;
  color: rgb(var(--white-rgb));
  border-radius: 0.75rem 0 0 0.75rem;
}

.forecast-switch button + button {border-radius: 0 0.75rem 0.75rem 0;}
.forecast-switch button:not(.on) {opacity: 0.4;}
.forecast-switch button:hover {background: #843b57;}

.show-details {
  width: 5rem;
  background: rgb(var(--primary-rgb));
  font-weight: 600;
  color: var(--background);
  border-radius: 0.75rem;
}
.show-details:hover {filter: brightness(0.9);}
