.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: width 0.2s ease;
  -webkit-user-select: none;
  user-select: none;

  --daily-section-width: 34.625rem;
  --details-section-width: 33.375rem;
}

.slider:has(main section.daily.show) {width: min(var(--daily-section-width), 100%);}
.slider:has(main section.details.show) {width: min(var(--details-section-width), 100%);}

.slider nav button {
  position: absolute;
  bottom: 2.75rem;
  right: 100%;
  transform: translateY(50%);
  transition: filter 0.2s, opacity 0.25s ease 0.35s;
}
.slider nav button:hover:not(:disabled) {filter: brightness(0.9);}
.slider nav button:disabled {opacity: 0.3; cursor: initial;}
.slider nav button + button {
  right: initial;
  left: 100%;
  transition-delay: 0s;
}

.slider nav button img {width: 2.5rem;}

.slider main {
  position: relative;
  width: 100%;
  height: 5.5rem;
  overflow-x: hidden;
}

.slider main section {
  position: absolute;
  top: 0; left: 0;

  display: flex;
  align-items: flex-start;
  gap: 0.375rem;

  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.1s;
  z-index: -1;
}
.slider main section.show {
  opacity: 1; z-index: 0;
  transition: opacity 0.1s, transform 0.6s ease-out;
}

main section.daily {padding: 0 calc(calc(100% - var(--daily-section-width)) / 2);}
main section.details {padding: 0 calc(calc(100% - var(--details-section-width)) / 2);}

.mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  height: 5.25rem;
  padding-top: 0.125rem;

  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.15);
  transform: scale(0.5, 0.5);
  transition:
    background 0.2s,
    transform 0.3s cubic-bezier(0, 0, 0.55, 1.33);
}
section.show .mini-card {transform: scale(1, 1);}


.forecast .mini-card {width: 4rem; background: rgba(var(--white-rgb), 0.1);}
.forecast .mini-card:hover {background: rgba(var(--white-rgb), 0.15);}

.forecast .mini-card time {font-size: 0.6875rem;}
.forecast .mini-card img {width: 2rem; margin: 0.5rem 0 0.25rem;}

.forecast .mini-card :is(strong, span) {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.forecast .mini-card strong {font-size: 0.875rem;}

.forecast .mini-card.twilight {width: 5.5rem;}
.forecast .mini-card.twilight img {width: 2.5rem; margin: 0.25rem 0 0;}
.forecast .mini-card.twilight strong {font-weight: 400;}


.daily .mini-card img {margin-bottom: 0.35rem;}

.daily .min-max {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
  font-size: 0.75rem;
}

.daily .min-max span + span {color: rgba(var(--white-rgb), 0.5);}


.details .mini-card {
  width: 5.25rem;
  padding: 0.25rem 0;
  background: rgba(var(--primary-rgb), 0.1);
}
.details .mini-card:hover {background: rgba(var(--primary-rgb), 0.15);}

.details .mini-card em,
.details .mini-card > span {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--primary-rgb));
}

.details header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.details header img {width: 0.75rem;}

.details header em {
  font-style: normal;
  font-size: 0.5625rem;
  font-weight: 500;
}

.details strong {
  position: relative;
  margin: 0.75rem 0 1.15rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.details strong span {
  position: absolute;
  bottom: 0.125rem;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 0.4375rem;
  white-space: nowrap;
}

.details .mini-card > span {font-size: 0.5rem;}
